<h2 class="section-title">Welcome to IWESEP 2019</h2>

<p itemprop="description">
    {{ .description }} ({{ .name }}) will be held in {{ .city }}, {{ .state }}, {{ .date }}.
</p>

<p itemprop="description">
    <p>The objective of the 10th International Workshop on Empirical Software Engineering in Practice (IWESEP) is to foster the development of the area by providing a forum where researchers and practitioners can report on and discuss new research results and applications in the area of empirical software engineering. The workshop encourages the exchange of ideas within the international community to better understand, from an empirical viewpoint, the strengths and weaknesses of technology in use and new technologies, with the expectation of furthering the field of software engineering.</p>
    <p>The workshop focuses on the process, design, and structure of empirical studies as well as the results of specific studies. The workshop welcomes both original and replicated studies, varying from controlled experiments to field studies, from quantitative to qualitative. The workshop also welcomes the submissions on industrial experiences on application of existing software engineering technologies in industrial settings.</p>
</p>