<h2 class="section-title">{{ .titles.about.title }}</h2>

<p itemprop="description">
    {{ .description }} ({{ .name }}) will be held in {{ .city }}, {{ .state }}, on {{ .date }}.
</p>
<p itemprop="description">
    IWESEP 2019 is a research forum to discuss research methods and tools on software engineering as well as findings
    from applying these technologies in academic or industrial settings.
    It encourages researchers, engineers, and practitioners to exchange their research ideas and expectations on
    empirical software engineering. We believe that this workshop is a good opportunity for academic researchers and
    industrial engineers/practitioners to develop and deepen collaborative networks among them.
</p>

<!-- <p itemprop="description">
    The 10th edition of this workshop series provides two submission categories, <b>Full Research Papers</b> and <b>Posters</b>. We are looking forward to many good submissions for both categories. For more details, please refer to <a href="#cfp" target="_blank" class="nav-link">call for papers</a> and <a href="#important" target="_blank" class="nav-link">important dates</a>.
</p> -->

<!-- <p itemprop="description">
    The workshop will be co-located with MSR Asia Summit, where you can listen to exciting talks from leading researchers in the field of mining software repositories. Don't miss it. Please mark your calendars for IWESEP 2019 and MSR Asia Summit right now!!
</p> -->

<p itemprop="description">
    IWESEP 2019 will be held in conjunction with <a href="https://www.ipsj.or.jp/english/index.html">IPSJ</a> <a
        href="http://www.ipsj.or.jp/sig/se/index_en.html">SIGSE</a> <a
        href="http://www.ipsj.or.jp/kenkyukai/event/se203.html">technical
        meeting</a>.
    IPSJ SIGSE will host an invited talk session on Dec. 13 as a part of the technical meeting program, and the
    attendees of IWESEP 2019 can join it thanks to the kindness of IPSJ SIGSE.
    Don't miss the event!
</p>

<p itemprop="description">
    We have a special section on Empirical Software Engineering of IEICE Transactions on Information and System that will be published in January 2021.
</p>

<p itemprop="description">
    It is our great honor to announce that this workshop is supported by <a
        href="https://www.waseda.jp/inst/gcs/en/labo/globalsoftware/">Global Software Engineering Laboratory, Waseda
        University</a> and <a href="http://www.naist.jp/en/">Nara Institute of Science and Technology</a>. We are deeply
    grateful for their kind support.
</p>
