<h2 class="section-title">{{ .titles.cfp }}</h2>

<div class="venue">
<p>The objective of the 10th International Workshop on Empirical Software Engineering in Practice (IWESEP 2019) is to foster the development of the area by providing a forum where researchers and practitioners can report on and discuss new research results and applications in the area of empirical software engineering. The workshop encourages the exchange of ideas within the international community to better understand, from an empirical viewpoint, the strengths and weaknesses of technology in use and new technologies, with the expectation of furthering the field of software engineering.</p>
<p>The workshop welcomes both original and replicated studies, varying from controlled experiments to field studies, from quantitative to qualitative. The workshop also welcomes reports on the application of existing software engineering technologies in industrial settings.</p>

<h4>Submission Categories</h4>

<p>The workshop provides two submission categories: Full Research Papers and Posters.</p>
<ul>
<li>Full research papers: Papers in this category must not exceed 6 pages. Each submission will be evaluated by at least three program committee members. All the accepted papers will be published in the workshop proceedings with an IEEE catalog number and ISBN number. The proceedings will be submitted to IEEE Xplore for publication. For each accepted paper, at least one of the authors must register for and attend the workshop to make an oral presentation of the paper.</li>
<li>Posters: Authors in this category should submit an abstract (max 700 words) on the content to be presented in the poster, describing the motivation, methodology, results, and contribution of the study. The submitted abstracts will be quickly reviewed by the program committee chairs to check whether they meet the scope of the workshop. The authors of the accepted submissions will be requested to prepare the posters and bring them to the workshop venue. Note that the submissions in this category will not appear in the workshop proceedings.</li>
</ul>
<p>All submissions must be in English and must come in PDF format and conform, at time of submission, to the IEEE Conference Proceedings Formatting Guidelines, title in 24pt font and full text in 10pt font, LaTeX users must use <code>\documentclass[10pt,conference]{IEEEtran}</code> without including the <code>compsoc</code> or <code>compsocconf</code> option. Also, papers must comply with the IEEE Policy on Authorship.</p>
<p>Submissions must be submitted electronically in PDF before the due date via <a href="https://easychair.org/conferences/?conf=iwesep2019">EasyChair</a>.</p>

<h4>Topics of Interest</h4>

<p>Topics of interest include, but are not limited to:</p>

<ul>
<li>Empirical studies of software process and product</li>
<li>Comparison of cost estimation techniques</li>
<li>Analysis of the effects and characteristics of design methods</li>
<li>Evaluation of the readability of coding styles</li>
<li>Development, derivation, or comparison of organizational models of software development</li>
<li>Evaluation of testing methodologies</li>
<li>Evaluation of automated patch generation techniques</li>
<li>Reports on the benefits derived from using software development environments</li>
<li>Development or comparison of predictive models for software quality (defects, vulnerabilities, and reliability) from real data</li>
<li>Infrastructure issues, such as measurement theory, experimental design, qualitative modeling, and analysis approaches</li>
<li>Experiences with research methods such as grounded theory, protocol studies, or families of experiments</li>
<li>Industrial experience in process improvement</li>
<li>Quality measurement</li>
<li>Process modeling and applications in industry</li>
<li>Experience management</li>
</ul>
</div>