<h2 class="section-title">{{ .titles.cfp }}</h2>

<div class="organization">
<p>The objective of the 10th International Workshop on Empirical Software Engineering in Practice (IWESEP) is to foster the development of the area by providing a forum where researchers and practitioners can report on and discuss new research results and applications in the area of empirical software engineering. The workshop encourages the exchange of ideas within the international community to better understand, from an empirical viewpoint, the strengths and weaknesses of technology in use and new technologies, with the expectation of furthering the field of software engineering.</p>
<p>The workshop focuses on the process, design, and structure of empirical studies as well as the results of specific studies. The workshop welcomes both original and replicated studies, varying from controlled experiments to field studies, from quantitative to qualitative. The workshop also welcomes the submissions on industrial experiences on application of existing software engineering technologies in industrial settings.</p>

<h4>Submission Categories</h4>

<p>The workshop provides two submission categories: Full research papers and Posters.</p>
<ul>
<li><p>Full research papers: Papers in this category must not exceed 6 pages. Each submission will be evaluated by at least three program committee members. All the accepted papers will be published in the workshop proceedings with an IEEE catalog number and ISBN number. The proceedings will be submitted to IEEE Xplore for publication. For each accepted paper, at least one of the authors must register for and attend the workshop to make an oral presentation of the paper.</p></li>
<li><p>Posters: Authors in this category need to submit the fast abstract (max 700 words) on the contents to be presented in the posters. The submitted fast abstracts will be quickly reviewed by the program committee chairs to check whether they meet the scope of the workshop. The authors of the accepted submissions will be requested to prepare the posters and bring them to the workshop venue. Note that the submissions in this category will not appear in the workshop proceedings.</p></li>
</ul>

<h4>General Call</h4>

<p>Topics of interest include, but are not limited to:</p>

<ul>
<li><p>Empirical studies of software process and product</p></li>
<li><p>Comparison of cost estimation techniques</p></li>
<li><p>Analysis of the effects of design methods and characteristics</p></li>
<li><p>Evaluation of the readability of coding styles</p></li>
<li><p>Development, derivation and/or comparison of organizational models of software development</p></li>
<li><p>Evaluation of testing methodologies</p></li>
<li><p>Evaluation of automated patch generation techniques</p></li>
<li><p>Reports on the benefits derived from using software development environments</p></li>
<li><p>Development or comparison of predictive models for software quality (defects, vulnerabilities, and reliability) from real data</p></li>
<li><p>Infrastructure issues, such as measurement theory, experimental design, qualitative modeling and analysis approaches</p></li>
<li><p>Experiences with research methods such as grounded theory, protocol studies or families of experiments</p></li>
<li><p>Industrial experience in process improvement</p></li>
<li><p>Quality measurement</p></li>
<li><p>Process modeling and applications in industry</p></li>
<li><p>Experience management</p></li>
</ul>
</div>