<h2 class="section-title">{{ .titles.registration.title }}</h2>
<div class="registration">
  <p>All participants are kindly requested to fill out the <a href='{{ .calltoaction.link }}'>registration form</a> and
    submit
    it by December 4, 2019 (AOE).
    ​</p>
  <p>
    The registration fee will be collected on-site.
    Only cash payments (no credit cards) in Japanese yen (JPY) can be acceptable.
    ​</p>
  <p>
    <ul>
      <li>
        SIGSE Member: JPY 2000
      </li>
      <li class="level2">
        <a href='http://www.ipsj.or.jp/sig/se/index_en.html'>SIGSE</a> is a Japanese community in the research field of
        software engineering.
      </li>
      </li>
      <li>
        Non-Member: JPY 3000
      </li>
    </ul>
  </p>

  <p>
    This conference does not include lunch, but we plan to hold dinner in December 13th.
    Please check off the box in the form if you want to attend it.
  </p>
  ​<p>
    If you need visa for Japan and its application documents for your local Japanese embassy or consulate, please
    check off the box in the form.
    We will contact you to send the documents.
    <a href='https://www.mofa.go.jp/j_info/visit/visa/short/novisa.html'>Visa Information</a>
  </p>
  <p>
    For questions about the registration, please contact <code>hatano.tomomi[at]fujitsu.com</code> .
  </p>
</div>