<h2 class="section-title">{{ .titles.speakers.title }}</h2>

<p>
  This year, <a href='http://www.ipsj.or.jp/sig/se/index_en.html'>Special Interest Group on Software Engineering</a>
  (SIGSE) of <a href='https://www.ipsj.or.jp/english/index.html'>Information Processing Society of Japan</a> (IPSJ) will
  host an invited talk by Dr. Mukul Prasad from Fujitsu Laboratories of America, as a part of the program of <a
    href='http://www.ipsj.or.jp/kenkyukai/event/se203.html'>the 203rd SIGSE technical meeting</a>.
​</p><p>
  Thanks to the kindness of IPSJ SIGSE, <strong>all the attendees of IWESEP 2019 can join this special talk
    session</strong> with no additional fee.
  ​
  This special talk will be held on the morning of Dec. 13 at the same location of IWESEP 2019, and will be in English.
</p>

<h3>About the Talk</h3>

<ul class="speakers-list">
  {{ range $speaker := (where .speakers "presentation" "ne" nil) }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
    <span class="speaker-photo">
      <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
    </span>
    {{ end }}

    <h4 class="speech-title">
      {{ with .presentation.time }}
      <span class="speech-time">{{ . }}</span>
      {{ end }}
      <span>{{ .presentation.title }}</span>
    </h4>

    <h4 class="speakers-name">{{ .name }}
    </h4>

    <p>
      {{ with .company }}
      {{ . }}
      {{ end }}
      |
      {{ with .link }}
      <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
      {{ end }}
    </p>

    <h4 class="speech-abst">Talk Abstract</h4>
    <p class="speech-abst">{{ .presentation.description }}</p>

    <h4 class="speakers-bio">Speaker Biography</h4>
    <p class="speakers-bio">{{ .bio }}</p>
  </li>
  {{ end }}
</ul>

<h3>Notice</h3>
<p>
  Please note that IWESEP attendees are allowed to join <strong>only the special talk session</strong>.
  If you would like to attend the other sessions than the special talk session of the SIGSE technical meeting, you need
  to register for and pay for the SIGSE technical meeting.
  <br>
  <strong>The special talk will be in English</strong>. However, make sure that the other sessions of the SIGSE
  technical meeting will be mainly in Japanese since the technical meeting itself is a domestic research forum.</p>
