<h2 class="section-title">{{ .titles.summit.title }}</h2>

<p>
  IWESEP 2019 will have MSR Asia Summit session, in which we will invite leading researchers in the field of MSR (Mining Software Repositories).
  It provides participants with opportunities to learn the cutting edge of the research related to MSR. <br>

  This year, we have invited two speakers, Dr. Fabio Palomba and Dr. Maurício Aniche. You can find the talk abstracts and the speaker biographies below.
</p>

<ul class="speakers-list">
  {{ range $speaker := (where .summit "presentation" "ne" nil) }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
    <span class="speaker-photo">
      <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
    </span>
    {{ end }}

    <h4 class="speech-title">
      {{ with .presentation.time }}
      <span class="speech-time">{{ . }}</span>
      {{ end }}
      <span>{{ .presentation.title }}</span>
    </h4>

    <h4 class="speakers-name">{{ .name }}
    </h4>

    <p>
      {{ with .company }}
      {{ . }}
      {{ end }}
      |
      {{ with .link }}
      <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
      {{ end }}
    </p>

    <h4 class="speech-abst">Talk Abstract</h4>
    <p class="speech-abst">{{ .presentation.description }}</p>

    <h4 class="speakers-bio">Speaker Biography</h4>
    <p class="speakers-bio">{{ .bio }}</p>
  </li>
  {{ end }}
</ul>
