<div>
    <h3>Important Dates</h3>
</div>
<div>
    <table>
        <tbody>
            <tr>
                <td><strong>Abstract submission:</strong></td>
                <td>TBD</td>
                <!-- <td><del>September 19th, 2018 (AOE)</del></td> -->
            </tr>
            <tr>
                <td><strong>Research paper submission:</strong></td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><strong>Notifications:</strong></td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><strong>Camera Ready:</strong></td>
                <td>TBD</td>
            </tr>

            <tr>
                <td><strong>Fast abstract submission:</strong></td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><strong>Notifications:</strong></td>
                <td>TBD</td>
            </tr>
        </tbody>
    </table>
</div>